* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Qui iniziano le regole generali */
.background{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100% );
  display: flex;
  align-items: center;
  z-index: 0;
}

.quadrato {
  width: 80%;
  height: 90%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 1px gray;
  z-index: 999;
  flex-shrink: 2;
  font-family: 'lato', sans-serif;
  position: relative;
}

img{
  height: 50px;
  width: auto;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}
p {
  color: gray;
  font-size: 12px;
}

#main {
  height: 100%;
}

/* Regole dell'header */
header {
  background: #EAEAEA;
  height: 70px;
  width: 100%;
  display: flex;
}

.icone-header .fas {
  font-size: 20px;
  color: lightgray;
  padding: 0 10px;
}

.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-left{
  width: 33%;
  border-right: solid 1px lightgray;
}

.header-right{
  width: 67%;
}

/* Regole del main */
main {
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
  background: white;
}

.container2{
  display: flex;
  align-items: center;
}
/* Qui iniziano le regole della parte sinistra del mains */
.main-left {
  background: white;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.fa-bell-slash{
  font-size: 25px;
  color: white;
  padding: 30px 15px;
}
.notifiche {
  width: 100%;
  background: #8EDAFC;
}

#stile p {
  color: black;
  font-size: 16px;
}
#stile a {
  color: gray;
  font-size: 12px;
  text-decoration: underline;
}

#barra {
  width: 90%;
  margin-left: 5%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px gray;
  color: inherit;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: lightgray;
}

#barra input {
  border: none;
  padding: 10px;
}

#barra .fa-search {
  padding: 0 15px;
}

.chat {
  border: solid 1px lightgray;
  padding: 10px 5px;
  width: 100%;
}

.chat:hover {
  background-color: lightgray;

}

.over {
  overflow-y:scroll;
  height: 100%;
}
/* Qui inizia la parte destra del main */
.main-right {
  height: calc(100% - 70px);
  width: 67%;
  background-image: url(../img/Sfondo.jpg);
  content: "";
  display: table;
  clear: both;
}


.flotta {
   display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ricevuto, .inviato  {
  padding: 20px;
  margin: 20px 30px;
  background: white;
  border-radius: 5px;
  max-width: 200px;
  position: relative;
  display: block;
}
.inviato {
  background: lightgreen;
}
.messaggio {
  color: black;
  font-size: 16px;
}

.orario {
  position: absolute;
   bottom: 5px;
   right: 5px;
}
/* Qui iniziano le regole del footer */
footer {
  background: #F3EEEA;
  width: 67%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#msg {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  font-weight: lighter;
}

footer i {
  font-size: 30px;
  color: gray;
}

.visible {
  display: block;
}
.invisible {
  display: none;
}
